
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

html {
  overflow-y: overlay;
}

body {
  background: url('./images/bg6.jpg') no-repeat center center fixed;  /* Image by <a href="https://pixabay.com/users/mclau19-8837702/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5508435">Clau M</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5508435">Pixabay</a> */
  background-color: #666;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}


::-webkit-scrollbar {
  width: .75rem;
}

::-webkit-scrollbar-track {
  background: rgb(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  border-radius: 10rem;
  background: black;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-box {
  padding: 3rem;
  text-align: center;
}

.title {
  color: #FFE81F;
  text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black,  -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
  /* text-shadow: 1px 1px 5px rgb(0, 0, 0, 1); */
  font-size: 3.5rem;
  font-family: 'Bebas Neue', cursive;
  /* -webkit-text-stroke-width: 20px;
  -webkit-text-stroke-color: black; */
}

.sub-title {
  color: #ecf0f1;
  transform: translateX(10rem);
  font-size: 1.3rem;
  /* text-shadow: 2x 2px 4px rgb(0, 0, 0, 0.9); */
  text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black,  -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}

@media only screen and (max-width: 644px) {
  body {
    background-position: 70%;
  }
  .sub-title {
    transform: translateX(0);
  }
  .input-data {
    width: 19rem ! important;
  }
  .input-data #search-box {
    width: 20rem !important;
  }
  .output-option {
    width: 18rem;
  }
  .new-radio {
    display: flex !important;
    justify-content: center;
    align-items: center;
  }

}

.input-data {
  margin: 10px 10px;
  padding: 10px 10px;
  width: 20rem;
  background-color: rgb(255, 255, 255, 0.6);
  border-radius: 15px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 4px 4px 8px rgb(0, 0, 0, 0.8);
}

.input-label {
  margin: 2px 2px;
  padding: 10px 10px;
}

.input-data {
  position: relative;
}

.input-data #search-box {
  margin: 0;
  padding: 10px 10px;
  width: 25rem;
  text-align: center;
  font-family: inherit;
  font-size: 1.4rem;
  color: black;
}


#closex {
  position: absolute;
  right: 0;
  transform: translateY(180%);
  background-color: black;
  color: #FFE81F;
  border-radius: 10px;
  height: 20px;
  display: none;
  transition: all 1s;
}

#closex:hover {
  cursor: pointer;
}



input {
  border-radius: 20px 5px;
  border: none;
  border-bottom: 5px solid #999;
}

input:focus {
  border-radius: 5px 20px;
  border: none;
  border-bottom: 5px solid #FFE81F;
  box-shadow: 0px 0px 10px rgb(0, 0, 0, 1);
  outline-offset: 0px;
  outline: none;
  transition: ease 800ms;

}


.output-data {
  height: 25vh;
  width: 80%;
  background-color: rgb(255,255,255, 0.8);
  border-radius: 2rem;
  margin: 2rem;
  padding: 0 0 0 1rem;
  overflow-y: auto;
  line-height: 1.5rem;
  transition: all 1s;
  display: none;
  box-shadow: 4px 4px 8px rgb(0, 0, 0, 0.8);
}


.output-data::-webkit-scrollbar {
  width: .75rem;
}

.output-data::-webkit-scrollbar-track {
  background: rgb(0, 0, 0, 0.1);
}

.output-data::-webkit-scrollbar-thumb {
  border-radius: 10rem;
  background: black;
}


.output-option {
  display: flex;
  align-items: center;
  padding: 0.6rem 1.2rem 0.6rem 1.2rem;
  background-color: rgb(255, 255, 255, 0.6);
  border-radius: 15px 50px;
  box-shadow: 4px 4px 8px rgb(0, 0, 0, 0.8);
}

.option-label {
  padding-right: 0.6rem;
}

.output-option * {
  margin: 0.1rem;
}

.new-radio {
  display: block;
  position: relative;
  padding-left: 1.2rem;
  cursor: pointer;
  font-size: inherit;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.new-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: rgb(0, 0, 0, 0.3);
  border-radius: 50%;
}

.new-radio:hover input ~ .checkmark {
  background-color: #ccc;
  transition: all .5s;
}

.new-radio input:checked ~ .checkmark {
  background-color: black;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  transition: all .5s;
}

.new-radio input:checked ~ .checkmark:after {
  transition: all .5s;
  display: block;
}

.new-radio .checkmark:after {
 	top: 4px;
	left: 4px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #FFE81F;
  transition: all .5s;
}


.card-space {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem;
  padding: 0.3rem;
  /* background-color: white; */
  width: 80%;
}

.card {
  margin: 0.4rem;
  padding: 0.7rem;
  background-color: rgb(255, 255, 255, 0.7);
  border-radius: 8px 20px;
  text-align: center;
  box-shadow: 4px 4px 8px rgb(0, 0, 0, 0.8);
  transition: all 200ms;
}

.card .name {
  font-size: 1rem;
  padding-bottom: 0.3rem;
  color: #FFE81F;
  /* text-shadow: 1px 1px 5px rgb(255, 232, 31, 1); */
  text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black,  -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
  font-family: 'Bebas Neue', cursive;
  font-size: 1.4rem;
}

.card:not(.name) {
  text-align: center;
}

.card:hover {
  transform: scale(1.08);
}


.botoes-direita {
  position: absolute;
  display: flex;
  top: 10px;
  right: 10px;
  padding: 10px;
  color: white;
}

.bot-tema {
  margin: 0;
  padding: 5px;
}

.bot-tema:hover {
  transition: all 200ms;
  transform: scale(1.3);
}



/* Modal info-box  */

.modal-info {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0, 0.4);
  transition: 1000ms ease-in-out;
}

.modal-conteudo {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #777;
  width: 300px;
  color: black;
  transition: all 200ms;
  text-align: left;
  line-height: 1.5rem;
}

a {
  text-decoration: none;
}

a:link {
  color: inherit;
}

a:visited {
  color: inherit;
}


#close {
  color: #aaaaaa;
  float: right;
  font-size: 24px;
  font-weigth: bold;
  cursor: pointer;
}


.row {
  display: flex;
  justify-content: space-between;
}
